src/main/mule/wgittrial1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0c8df8aa-5e8f-40af-a704-dcbe92225d1d" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="wgittrial1Flow" doc:id="eeb86019-138e-4fbe-9ec5-4003913d0b20" >
		<http:listener doc:name="Listener" doc:id="d5bb0f70-8300-48db-b4c5-da66f75ccedd" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Hello Logger" doc:id="82343db2-6300-483a-9e02-860dfb3fb381" message='#["Hello World now on "]'/>
	</flow>
</mule>
